<div class="message_item">
  <% if @message.sender.avatar.present? %>
    <%= image_tag @message.sender.avatar.url(:thumb), alt: "Avatar" %>
  <% else %>
    <%= image_tag("user_avatar.jpg", alt: "Avatar") %>
  <% end %>
  <%= @message.sender.username %>
  <%= local_time(@message.updated_at, "%d %b %H:%M") %>
  <% if !@message.body.blank? %>
    <%= @message.body.gsub(/\<br>/," ") %>
  <% end %>
  <% if @message.attachment.present? %>
    <%= image_tag(@message.attachment_url) %>
  <% end %>
</div>
