<% user_quests.each do |task| %>
  <% pending_offers = task.offers.where(status: "Pending").count %>
  <% current_user_offers = task.offers.where(user_id: current_user.id).first if current_user %>
  <div class="" style="margin-top: 15px;">
    <div class="quest" style="width: 1108px;">
      <div class="qleft" style="width: 840px;">
         <div class="questname">
           <%= truncate(task.name, length: 70, separator: ' ') %>
         </div>
         <div class="questdesc">
           <%= truncate(task.description, length: 170, separator: ' ') %>
         </div>
         <div class="questtype">
           <p>Quest Type:</p>
           <div class="icons">
             <% if task.play_methods.count > 0 %>
               <% task.play_methods.each do |method| %>
                 <img src="/assets/icons/<%= method.name.downcase %>.png" alt="">
               <% end %>
             <% end %>
             <% if task.game && task.quest_type %>
               <img src="/assets/icons/<%=  task.game.name.downcase %>.png" alt="">
               <img src="/assets/icons/<%=  task.quest_type.name.downcase %>.png" alt="">
             <% end %>
           </div>
         </div>
         <div class="submitted">
           Submitted by <%= link_to task.user.username %> on: <%= task.created_at.strftime("%A %d/%m/%Y") %>
         </div>
         <div class="offerstatus">
           Offers: <%= task.offers_count %> / <%= @max_offers_count_for_quest %>
         </div>
      </div>

      <div class="rewardbox">
        <div class="rewardbox_text">
          <p class="title">REWARD</p>
          <p class="credits"><%= number_with_precision(task.estimated_price, precision: 0) %> USD</p>
          <p class="exp">+ 280 XP</p>
          <p class="addrewards">Additional Rewards:</p>
        </div>
        <div class="chests">
            <img src="/assets/icons/small_green.png" alt="">
            <img src="/assets/icons/small_blue.png" alt="">
            <img src="/assets/icons/small_epic.png" alt="">
        </div>
        <% if current_user && current_user == task.user %>
          <% if current_user && current_user == task.user && task.status != "created" && task.payment_status == "not paid" %>
            <%= link_to "Pay for quest", send_money_task_path(task), class: "accept" %>
          <% elsif current_user && current_user == task.user && task.status != "created" && task.payment_status == "paid" %>
            <%= link_to "Payment received", "#", class: "accept", style: "pointer-events: none; cursor: default; background: #148C00;" %>
          <% else %>
            <%= link_to "VIEW QUEST", task_path(task), class: "accept" %>
          <% end %>
        <% elsif current_user && current_user != task.user %>
           <% current_user_offers = task.offers.where(user_id: current_user.id).first if current_user %>
           <% if task.offers_count < @max_offers_count_for_quest %>
             <% if current_user && current_user.profile_progress && task.user_id != current_user.id && current_user.approved %>
               <% if !current_user_offers %>
                 <%= link_to "ACCEPT", accept_task_path(task), class: "accept" %>
               <% else %>
                 <a href="" class="pending">OFFER PENDING</a>
               <% end %>
             <% elsif current_user && !current_user.profile_progress %>
               <%= link_to "ACCEPT", edit_user_registration_path(personal: "true"), class: "accept" %>
             <% elsif !current_user %>
               <%= link_to "ACCEPT", "/sign_up", class: "accept" %>
             <% elsif current_user.profile_progress && !current_user.approved %>
               <%= link_to "ACCEPT", accept_task_path(task), class: "accept" %>
             <% end %>
           <% elsif current_user && task.offers_count == @max_offers_count_for_quest && current_user_offers %>
             <a href="" class="pending">OFFER PENDING</a>
           <% end %>
        <% end %>
      </div>
  </div>


    <% if false %>

    <div class="comleted_quests_each_right">
      <div class="offers_count">
        <% unless task.status != "created" %>
          Offers: <%= pending_offers %> / <%= @max_offers_count_for_quest %>
        <% end %>
      </div>
      <div class="home_task_price quests_price">
        <% if task.final_price > 0 %>
          <%= task.final_price %> USD
        <% else %>
          <%= task.estimated_price %> USD
        <% end %>
      </div>

      <% if task.status == "created" %>
        <!-- Button trigger modal -->
        <% if pending_offers < @max_offers_count_for_quest %>
          <% if current_user && current_user.profile_progress && task.user_id != current_user.id && current_user.approved %>
            <% if !current_user_offers %>
              <div class="accept_button">
                <button type="button" class="make_offer_button modal_button" data-dismiss="modal" data-toggle="modal" data-target="#offerModal">
                  Accept
                </button>
              </div>
              <%= render partial: 'offers/new_offer_form', locals: { offer: @offer, task: task } %>
            <% else %>
              <div class="already_submitted">
                You already submitted offer
              </div>
            <% end %>
          <% elsif current_user && !current_user.profile_progress %>
            <div class="accept_button">
              <%= link_to edit_user_registration_path(personal: "true") do %>
                <button type="button" class="make_offer_button modal_button">
                  Accept
                </button>
              <% end %>
            </div>
          <% elsif !current_user %>
            <div class="accept_button">
              <%= link_to "/sign_up" do %>
                <button type="button" class="make_offer_button modal_button">
                  Accept
                </button>
              <% end %>
            </div>
          <% elsif current_user.profile_progress && !current_user.approved %>
            <div class="waiting_approve">
              Waiting for account approve
            </div>
          <% end %>
        <% elsif current_user && pending_offers == @max_offers_count_for_quest && current_user_offers %>
          <div class="already_submitted">
            You already submitted offer
          </div>
        <% end %>
      <% elsif task.status == "not completed" %>
        <div class="complete_confirm_quest_link_container">
          <%= link_to "Complete quest", complete_task_path(task), :confirm => 'Are you sure quest is fully complete?' %>
        </div>
      <% elsif task.status == "not confirmed" && current_user == task.user %>
        <div class="complete_confirm_quest_link_container">
          <%= link_to "Confirm quest", confirm_task_path(task), :confirm => 'Are you sure quest is fully complete?' %>
        </div>
      <% elsif task.status == "not confirmed" && current_user == task.worker %>
        <div class="awaiting_quest_confirmation">
          Awaiting confrimation
        </div>
      <% elsif task.status == "completed" %>
        <!-- <% if current_user == task.user && task.client_feedback == false %>
          <div class="leave_feedback_for_client_container">
            <%= link_to "Leave a feedback for worker", "#", :data => {toggle: "modal", target: "#reviewModal"} %>
          </div>
        <% elsif current_user == task.worker && task.worker_feedback == false %>
          <div class="leave_feedback_for_owner_container">
            <%= link_to "Leave a feedback for quest owner", "#", :data => {toggle: "modal", target: "#reviewModal"} %>
          </div>
        <% end %> -->
      <% end %>
      <% if current_user && current_user == task.user && task.status != "created" && task.payment_status == "not paid" %>
        <div class="task_show_pay">
          <%= link_to "Pay for quest", send_money_task_path(task) %>
        </div>
      <% elsif current_user && current_user == task.user && task.status != "created" && task.payment_status == "paid" %>
        <div class="task_show_pay">
          Payment received
        </div>
      <% end %>
    </div>

    <% end %>

  </div>
  <!-- <% if task.status == "completed" && (task.client_feedback == false || task.worker_feedback == false) %>
    <%= render partial: 'reviews/new_review_form', locals: { review: @review, task: task } %>
  <% end %> -->
<% end %>
