<% user_quests.each do |task| %>
  <% pending_offers = task.offers.where(status: "Pending").count %>
  <% current_user_offers = task.offers.where(user_id: current_user.id).first if current_user %>
  <div class="user_show_public_comleted_quests_each">
    <div class="comleted_quests_each_left">
      <div class="home_task_right_name completed_quest_name">
        <%= link_to truncate(task.name, length: 110, separator: ' '), task_path(task) %>
      </div>
      <div class="home_task_right_bottom_description completed_quest_desc">
        <%= link_to truncate(task.description, length: 110, separator: ' '), task_path(task) %>
      </div>
      <div class="quests_play_methods_icons">
        <% if task.play_methods.count > 0 %>
          <% task.play_methods.each do |method| %>
            <% if method.name == "Selfplay" %>
              <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <% elsif method.name == "Account Sharing" %>
              <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
            <% elsif method.name == "LiveStream" %>
              <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="user_quests_game">
        <% if task.game && task.quest_type %>
          <%= task.game.name %> / <%= task.quest_type.name %>
        <% end %>
      </div>
    </div>
    <div class="comleted_quests_each_right">
      <div class="offers_count">
        <% unless task.status != "created" %>
          Offers: <%= pending_offers %> / <%= @max_offers_count_for_quest %>
        <% end %>
      </div>
      <div class="home_task_price quests_price">
        <% if task.final_price > 0 %>
          <%= task.final_price %> EG
        <% else %>
          <%= task.estimated_price %> EG
        <% end %>
      </div>

      <% if task.status == "created" %>
        <!-- Button trigger modal -->
        <% if pending_offers < @max_offers_count_for_quest %>
          <% if current_user && current_user.profile_progress && task.user_id != current_user.id && current_user.approved %>
            <% if !current_user_offers %>
              <div class="accept_button">
                <button type="button" class="make_offer_button modal_button" data-dismiss="modal" data-toggle="modal" data-target="#offerModal">
                  Accept
                </button>
              </div>
              <%= render partial: 'offers/new_offer_form', locals: { offer: @offer, task: task } %>
            <% else %>
              <div class="already_submitted">
                You already submitted offer
              </div>
            <% end %>
          <% elsif current_user && !current_user.profile_progress %>
            <div class="accept_button">
              <%= link_to edit_user_registration_path(personal: "true") do %>
                <button type="button" class="make_offer_button modal_button">
                  Accept
                </button>
              <% end %>
            </div>
          <% elsif !current_user %>
            <div class="accept_button">
              <%= link_to "/sign_up" do %>
                <button type="button" class="make_offer_button modal_button">
                  Accept
                </button>
              <% end %>
            </div>
          <% elsif current_user.profile_progress && !current_user.approved %>
            <div class="waiting_approve">
              Waiting for account approve
            </div>
          <% end %>
        <% elsif current_user && pending_offers == @max_offers_count_for_quest && current_user_offers %>
          <div class="already_submitted">
            You already submitted offer
          </div>
        <% end %>
      <% elsif task.status == "not completed" %>
        <div class="complete_confirm_quest_link_container">
          <%= link_to "Complete quest", complete_task_path(task) %>
        </div>
      <% elsif task.status == "not confirmed" && current_user == task.user %>
        <div class="complete_confirm_quest_link_container">
          <%= link_to "Confirm quest", confirm_task_path(task) %>
        </div>
      <% elsif task.status == "not confirmed" && current_user == task.worker %>
        <div class="awaiting_quest_confirmation">
          Awaiting confrimation
        </div>
      <% elsif task.status == "completed" %>
        <% if current_user == task.user && task.client_feedback == false %>
          <div class="leave_feedback_for_client_container">
            <%= link_to "Leave a feedback for worker", "#", :data => {toggle: "modal", target: "#reviewModal"} %>
          </div>
        <% elsif current_user == task.worker && task.worker_feedback == false %>
          <div class="leave_feedback_for_owner_container">
            <%= link_to "Leave a feedback for quest owner", "#", :data => {toggle: "modal", target: "#reviewModal"} %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if task.status == "completed" && (task.client_feedback == false || task.worker_feedback == false) %>
    <%= render partial: 'reviews/new_review_form', locals: { review: @review, task: task } %>
  <% end %>
<% end %>
