<div class="task_show_task_info">
  <div class="task_show_name">
    <%= @task.name %>
  </div>
  <div class="task_show_description">
    <%= @task.description %>
  </div>
  <div class="task_show_small_container">
    <div class="task_show_name_price">
      <%= @task.estimated_price %> EG
    </div>
    <div class="task_show_game">
      <% if @task.game && @task.quest_type %>
        <%= @task.game.name %> / <%= @task.quest_type.name %>
      <% end %>
    </div>
    <div class="task_show_play_method">
      <div class="quests_play_methods_icons">
        <% if @task.play_methods.count > 0 %>
          <% @task.play_methods.each do |method| %>
            <% if method.name == "Selfplay" %>
              <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <% elsif method.name == "Account Sharing" %>
              <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
            <% elsif method.name == "LiveStream" %>
              <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if current_user && current_user == @task.user %>
  <div class="task_show_offers_container">
    <div class="task_show_offers_offers_header">
      Offers
    </div>
    <% if @offers.count > 0 %>
      <% @offers.each do |offer| %>
        <div class="task_show_offer">

          <div class="task_show_offer_first_line">
            <span class="task_show_offer_username"><%= link_to offer.user.username, user_path(offer.user) %></span> offered <span class="task_show_offer_price"><%= offer.worker_price %> EG</span> for this quest
            <% if !offer.comment.blank? %>
              and left a <b>comment</b>: <br>
              <div class="task_show_offer_comment">
                <%= offer.comment %>
              </div>
            <% end %>
          </div>
          
          <% if offer.client_times > offer.worker_times %>
            <%= offer.user_id == current_user.id ? "#{offer.task.user.username} offered price:" : "You counter offered price:" %>
            <span class="task_show_offer_price"><%= offer.client_price %> EG</span>
          <% end %>

          <br>
          <br>
          <b>Offer status:</b>
          <% if offer.status == "Pending" %>
            <span style="color: #337ab7;"><%= offer.status %></span>
          <% elsif offer.status == "Accepted" %>
            <span style="color: green;"><%= offer.status %></span>
          <% else %>
            <span style="color: #7e3236;"><%= offer.status %></span>
          <% end %>
          <br>
          <br>

          <% if offer.status == "Pending" && @task.user == current_user %>
            <div class="offers_block_links">
              <%= link_to "Accept offer", client_accept_offer_path(offer, task_id: @task.id), style: "color: green;" %> |
              <% if offer.worker_times >= offer.client_times && offer.client_times < 3 %>
                <%= link_to "Counter offer", "#", :data => {toggle: "modal", target: "#counterModal"}, style: "color: #337ab7;" %>
                <%= render partial: 'offers/counter_form', locals: { existing_offer: offer, task: @task } %>
                |
              <% end %>
              <%= link_to "Send a message", "#", style: "color: #6f6329;" %> |
              <%= link_to "Decline offer", decline_offer_path(offer), style: "color: #7e3236;" %>
            </div>
          <% elsif offer.status == "Pending" && offer.user == current_user && offer.worker_times < offer.client_times %>
            <div class="offers_block_links">
              <%= link_to "Accept offer", worker_accept_offer_path(offer, task_id: @task.id), style: "color: green;" %> |
              <% if offer.client_times > offer.worker_times && offer.worker_times < 3 %>
                <%= link_to "Counter offer", "#", :data => {toggle: "modal", target: "#counterModal"}, style: "color: #337ab7;" %>
                <%= render partial: 'offers/counter_form', locals: { existing_offer: offer, task: @task } %>
                |
              <% end %>
              <%= link_to "Send a message", "#", style: "color: #6f6329;" %> |
              <%= link_to "Decline offer", decline_offer_path(offer), style: "color: #7e3236;" %>
            </div>
          <% end %>

        </div>
      <% end %>
    <% else %>
      <div class="task_show_offers_no_offers">
        You have no offers for this task
      </div>
    <% end %>
  </div>
<% end %>
