<ul class="main_page_links_list">
  <li><%= link_to "All Quests", tasks_user_path(current_user), class: "#{!params[:status] ? "active" : "" }" %></li>
  <li><%= link_to "In progress by me Quests", tasks_user_path(current_user, status: "in_progress_by_me"), class: "#{params[:status] == "in_progress_by_me" ? "active" : "" }" %></li>
  <li><%= link_to "In progress for me Quests", tasks_user_path(current_user, status: "in_progress_for_me"), class: "#{params[:status] == "in_progress_for_me" ? "active" : "" }" %></li>
  <li><%= link_to "Completed Quests", tasks_user_path(current_user, status: "completed"), class: "#{params[:status] == "completed" ? "active" : "" }" %></li>
</ul>

<% if @tasks.count == 0 %>
  <div class="user_show_public_completed_quests_nothing">
    You have no quests
  </div>
<% else %>
  <%= render partial: 'tasks/tasks_list', locals: { user_quests: @tasks } %>
<% end %>
