<ul class="main_page_links_list">
  <li><%= link_to "New",  root_url, class: "#{!params[:price] ? "active" : "" }" %></li>
  <li><%= link_to "Price",  root_url(price: true), class: "#{params[:price] ? "active" : "" }" %></li>
</ul>

<div class="home_tasks_container">
  <!-- Task render start -->
  <div class="home_tasks_container_left">
    <% if @tasks.count > 0 %>
      <% @tasks.each do |task| %>
        <% pending_offers = task.offers.where(status: "Pending").count %>
        <% current_user_offers = task.offers.where(user_id: current_user.id).first if current_user %>
        <div class="home_task">
          <div class="home_task_left">
            <div class="home_task_left_avatar">
              <% if task.user.avatar.present? %>
                <%= image_tag task.user.avatar.url(:thumb), alt: "Avatar" %>
              <% else %>
                <%= image_tag("user_avatar.jpg", alt: "Avatar") %>
              <% end %>
            </div>
            <div class="home_task_right_user_info">
              <div class='home_task_right_user_info_username'>
                <%= link_to task.user.username, user_path(task.user) %>
              </div>
              <!-- <div class='home_task_right_user_info_level'>
                LEVEL 2
              </div> -->
              <div class='home_task_right_user_info_rating'>
                <% if task.user.rating == 0 %>
                  No feedback yet
                <% else %>
                  <%= task.user.rating %>% positive feedback
                <% end %>
              </div>
            </div>
          </div>
          <div class="home_task_right_side">
            <div class="home_task_right_side_subleft">
              <div class="home_task_right_name completed_quest_name">
                <%= link_to truncate(task.name, length: 80, separator: ' '), "#", :data => {toggle: "modal", target: "#taskShowModal-#{task.id}"} %>
              </div>
              <div class="home_task_right_bottom_description completed_quest_desc">
                <%= link_to truncate(task.description, length: 80, separator: ' '), "#", :data => {toggle: "modal", target: "#taskShowModal-#{task.id}"} %>
              </div>
              <div class="quests_play_methods_icons">
                <% if task.play_methods.count > 0 %>
                  <% task.play_methods.each do |method| %>
                    <% if method.name == "Selfplay" %>
                      <span class="glyphicon glyphicon-map-marker" aria-hidden="true" title="Selfplay"></span>
                    <% elsif method.name == "Account Sharing" %>
                      <span class="glyphicon glyphicon-bullhorn" aria-hidden="true" title="Account Sharing"></span>
                    <% elsif method.name == "LiveStream" %>
                      <span class="glyphicon glyphicon-link" aria-hidden="true" title="LiveStream"></span>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <div class="user_quests_game">
                <% if task.game && task.quest_type %>
                  <%= task.game.name %> / <%= task.quest_type.name %>
                <% end %>
              </div>
            </div>
            <div class="home_task_right_side_subright">
              <div class="offers_count">
                Offers: <%= pending_offers %> / <%= @max_offers_count_for_quest %>
              </div>
              <div class="home_task_price quests_price">
                <%= task.estimated_price %> EG
              </div>
              <!-- Button trigger modal -->
              <% if pending_offers < @max_offers_count_for_quest %>
                <% if current_user && current_user.profile_progress && task.user_id != current_user.id && current_user.approved %>
                  <% if !current_user_offers %>
                    <div class="accept_button">
                      <button type="button" class="make_offer_button modal_button" data-dismiss="modal" data-toggle="modal" data-target="#offerModal">
                        Accept
                      </button>
                    </div>
                    <%= render partial: 'offers/new_offer_form', locals: { offer: @offer, task: task } %>
                  <% else %>
                    <div class="already_submitted">
                      You already submitted offer
                    </div>
                  <% end %>
                <% elsif current_user && !current_user.profile_progress %>
                  <div class="accept_button">
                    <%= link_to edit_user_registration_path(personal: "true") do %>
                      <button type="button" class="make_offer_button modal_button">
                        Accept
                      </button>
                    <% end %>
                  </div>
                <% elsif !current_user %>
                  <div class="accept_button">
                    <%= link_to "/sign_up" do %>
                      <button type="button" class="make_offer_button modal_button">
                        Accept
                      </button>
                    <% end %>
                  </div>
                <% elsif current_user.profile_progress && !current_user.approved %>
                  <div class="waiting_approve">
                    Waiting for account approve
                  </div>
                <% end %>
              <% elsif current_user && pending_offers == @max_offers_count_for_quest && current_user_offers %>
                <div class="already_submitted">
                  You already submitted offer
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <%= render partial: 'tasks/task_modal', locals: { task: task } %>
      <% end %>
    <% else %>
      <div class="home_no_quests">
        There's no quests yet
      </div>
    <% end %>
  </div>
  <!-- Task render end -->
  <!-- Sorting start -->
  <div class="sorting_container">
    <div class="sorting_genres sorting_block">
      <div class="sorting_header">
        Genres
      </div>
      <% @genres.each do |genre| %>
        <div class="sorting_content">
          <%= link_to genre.name, root_url(genre: genre.name) %>
        </div>
      <% end %>
    </div>
    <div class="sorting_games sorting_block">
      <div class="sorting_header">
        Most popular games
      </div>
      <% @games.each do |game| %>
        <div class="sorting_content">
          <%= link_to game.name, root_url(game: game.name) %>
        </div>
      <% end %>
    </div>
    <div class="play_methods sorting_block">
      <div class="sorting_header">
        Play methods
      </div>
      <% @play_methods.each do |method| %>
        <div class="sorting_content">
          <%= link_to method.name, root_url(play_method: method.name) %>
        </div>
      <% end %>
    </div>
  </div>
  <!-- Sorting end -->
</div>
