<div class="main_page_buttons">
  <% if current_user && current_user.profile_progress %>
    <!-- Button trigger modal -->
    <button type="button" class="new_task_button" data-toggle="modal" data-target="#taskModal">
      + New quest
    </button>
    <%= render partial: 'tasks/new_task_form', locals: { task: @task } %>

    <button type="button" class="all_tasks_button">
      <%= link_to "My Quests", tasks_user_path(current_user) %>
    </button>
    <button type="button" class="hot_offers_button">
      <%= link_to "My Offers", offers_user_path(current_user) %>
    </button>
  <% elsif current_user && !current_user.profile_progress %>
    <%= link_to edit_user_registration_path(personal: "true") do %>
      <button type="button" class="new_task_button">+ New quest</button>
    <% end %>
  <% elsif !current_user %>
    <%= link_to "/sign_up" do %>
      <button type="button" class="new_task_button">+ New quest</button>
    <% end %>
  <% end %>
  <!-- <button type="button" class="gamecodes_button" data-toggle="modal" data-target="#myModal">
    <a href="#">Gamecodes</a>
  </button>
  <button type="button" class="virtual_currency_button" data-toggle="modal" data-target="#myModal">
    <a href="#">Virtual Currency</a>
  </button> -->
</div>

<ul class="main_page_links_list">
  <li><a href="#" class="active">New</a></li>
  <li><a href="#">Price</a></li>
</ul>

<div class="home_tasks_container">
  <!-- Task render start -->
  <div class="home_tasks_container_left">
    <% @tasks.each do |task| %>
      <% pending_offers = task.offers.where(status: "Pending").count %>
      <% current_user_offers = task.offers.where(user_id: current_user.id).first if current_user %>
      <div class="home_task">
        <div class="home_task_left">
          <div class="home_task_left_avatar">
            <%= image_tag("user_avatar.jpg", alt: "Avatar") %>
          </div>
          <div class="home_task_right_user_info">
            <div class='home_task_right_user_info_username'>
              <%= task.user.username %>
            </div>
            <div class='home_task_right_user_info_level'>
              LEVEL 2
            </div>
            <div class='home_task_right_user_info_rating'>
              ***** (98)
            </div>
          </div>
        </div>
        <div class="home_task_right">
          <div class="home_task_right_bottom">
            <div class="home_task_right_name">
              <%= link_to task.name, "#", :data => {toggle: "modal", target: "#taskShowModal-#{task.id}"} %>
            </div>
            <div class="home_task_right_bottom_description">
              <%= link_to task.description, "#", :data => {toggle: "modal", target: "#taskShowModal-#{task.id}"} %>
            </div>
            <div class="home_task_right_bottom_term">
              <%= task.term %>
            </div>
          </div>
          <div class="home_task_right_bottom_price">
            <div class="offers_count">
              Offers: <%= pending_offers %> / <%= @max_offers_count_for_quest %>
            </div>
            <div class="home_task_price">
              <%= task.estimated_price %> €
            </div>
            <!-- Button trigger modal -->
            <% if pending_offers < @max_offers_count_for_quest %>
              <% if current_user && current_user.profile_progress && task.user_id != current_user.id %>
                <% if !current_user_offers %>
                  <button type="button" class="make_offer_button modal_button" data-dismiss="modal" data-toggle="modal" data-target="#offerModal">
                    Make Offer
                  </button>
                  <%= render partial: 'offers/new_offer_form', locals: { offer: @offer, task: task } %>
                <% else %>
                  You already submitted offer
                <% end %>
              <% elsif current_user && !current_user.profile_progress %>
                <%= link_to edit_user_registration_path(personal: "true") do %>
                  <button type="button" class="make_offer_button modal_button">
                    Make Offer
                  </button>
                <% end %>
              <% elsif !current_user %>
                <%= link_to "/sign_up" do %>
                  <button type="button" class="make_offer_button modal_button">
                    Make Offer
                  </button>
                <% end %>
              <% end %>
            <% elsif current_user && pending_offers == @max_offers_count_for_quest && current_user_offers %>
              You already submitted offer
            <% end %>
          </div>
          <div class="home_task_game_name">
            <% if task.game && task.quest_type %>
              <%= task.game.name %> / <%= task.quest_type.name %>
            <% end %>
          </div>
          <div class="home_task_play_methods">
            <% if task.play_methods.count > 0 %>
              <% task.play_methods.each do |method| %>
                <%= method.name %>
                <br>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <%= render partial: 'tasks/task_modal', locals: { task: task } %>
    <% end %>
  </div>
  <!-- Task render end -->
  <!-- Sorting start -->
  <div class="sorting_container">
    <div class="sorting_genres sorting_block">
      <div class="sorting_header">
        Genres
      </div>
      <% @genres.each do |genre| %>
        <div class="sorting_content">
          <%= genre.name %>
        </div>
      <% end %>
    </div>
    <div class="sorting_games sorting_block">
      <div class="sorting_header">
        Most popular games
      </div>
      <% @games.each do |game| %>
        <div class="sorting_content">
          <%= game.name %>
        </div>
      <% end %>
    </div>
    <div class="play_methods sorting_block">
      <div class="sorting_header">
        Play methods
      </div>
      <% @play_methods.each do |method| %>
        <div class="sorting_content">
          <%= method.name %>
        </div>
      <% end %>
    </div>
  </div>
  <!-- Sorting end -->
</div>
