<div class="modal fade" id="offerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= simple_form_for offer do |f| %>
    <div class="modal-dialog">
      <div class="modal-content" style="padding-bottom: 30px;">
        <div class="modal-body">
          <div class="modal_heading">
            Quest name:
          </div>
          <div class="modal_text">
            <%= task.name %>
          </div>
          <div class="modal_heading">
            Quest description:
          </div>
          <div class="modal_text">
            <%= task.description %>
          </div>
          <div class="modal_heading">
            Quest price:
          </div>
          <div class="modal_text">
            <%= task.estimated_price %>
          </div>
          <% if task.game && task.quest_type %>
            <div class="modal_heading">
              Quest game:
            </div>
            <div class="modal_text">
              <%= task.game.name %>
            </div>
            <div class="modal_heading">
              Quest type:
            </div>
            <div class="modal_text">
              <%= task.quest_type.name %>
            </div>
          <% end %>
          <% if task.play_methods.count > 0 %>
            <div class="modal_heading">
              Quest play methods:
            </div>
            <div class="modal_text">
              <% task.play_methods.each do |method| %>
                <%= method.name %>
                <br>
              <% end %>
            </div>
          <% end %>
          <br><br>
          <%= f.hidden_field :task_id, value: task.id %>
          <%= f.input :worker_price, :input_html => { :value => task.estimated_price }, label: "Your price" %>
          <%= f.input :comment %>
          <div class="submit_button_container">
            <button type="submit" class="create_offer_button">Send offer</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
