<div class="modal fade" id="offerModal-<%= task.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= simple_form_for offer do |f| %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="task_show_name modal_task_name">
            <%= task.name %>
          </div>
          <div class="task_show_description modal_task_description">
            <%= task.description %>
          </div>
          <div class="task_show_small_container modal_task_small_container">
            <div class="task_show_name_price modal_task_price">
              <%= task.estimated_price %> USD
            </div>
            <div class="task_show_game modal_task_game">
              <% if task.game && task.quest_type %>
                <%= task.game.name %> / <%= task.quest_type.name %>
              <% end %>
            </div>
            <div class="task_show_play_method modal_task_play_method">
              <div class="quests_play_methods_icons">
                <% if task.play_methods.count > 0 %>
                  <% task.play_methods.each do |method| %>
                    <% if method.name == "Selfplay" %>
                      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    <% elsif method.name == "Account Sharing" %>
                      <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                    <% elsif method.name == "LiveStream" %>
                      <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <br><br>
          <%= f.hidden_field :task_id, value: task.id %>
          <%= f.input :worker_price, :input_html => { :value => task.estimated_price }, label: "Your price" %>
          <%= f.input :comment %>
          <div class="make_offer_button_container">
            <button type="sumbit" class="make_offer_button modal_button">
              Accept
            </button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
