<% @offers.each do |offer| %>
  <div class="task_page_offer">
    <b>Task:</b>
    <br>
    <b>Task name:</b>
    <%= offer.task.name %>
    <br>
    <b>Task price:</b>
    <%= offer.task.estimated_price %>
    <br>
    <b>Task term:</b>
    <%= offer.task.term %>
    <br>
    <b>Task description:</b>
    <%= offer.task.description %>
    <br>
    <br>
    <b>Offered price:</b>
    <%= offer.worker_price %>
    <br>
    <b>Comment:</b>
    <%= offer.comment %>
    <br>
    <b>Offer status:</b>
    <% if offer.status == "Pending" %>
      <span style="color:#337ab7;"><%= offer.status %></span>
    <% elsif offer.status == "Accepted" %>
      <span style="color:green;"><%= offer.status %></span>
    <% else %>
    <span style="color:red;"><%= offer.status %></span>
    <% end %>
    <br>
    <% if offer.status == "Pending" && offer.task.user == current_user %>
      <div class="offers_block_links">
        <%= link_to "Accept offer", client_accept_offer_path(offer, task_id: offer.task.id), style: "color: green;" %> |
        <% if offer.worker_times >= offer.client_times && offer.client_times < 3 %>
          <%= link_to "Counter offer", "#", :data => {toggle: "modal", target: "#counterModal"}, style: "color: #337ab7;" %>
          <%= render partial: 'offers/counter_form', locals: { existing_offer: offer, task: offer.task } %>
          |
        <% end %>
        <%= link_to "Send a message", "#" %> |
        <%= link_to "Decline offer", decline_offer_path(offer), style: "color: red;" %>
      </div>
    <% elsif offer.status == "Pending" && offer.user == current_user && offer.worker_times < offer.client_times %>
      <div class="offers_block_links">
        <%= link_to "Accept offer", worker_accept_offer_path(offer, task_id: offer.task.id), style: "color: green;" %> |
        <% if offer.client_times > offer.worker_times && offer.worker_times < 3 %>
          <%= link_to "Counter offer", "#", :data => {toggle: "modal", target: "#counterModal"}, style: "color: #337ab7;" %>
          <%= render partial: 'offers/counter_form', locals: { existing_offer: offer, task: offer.task } %>
          |
        <% end %>
        <%= link_to "Send a message", "#" %> |
        <%= link_to "Decline offer", decline_offer_path(offer), style: "color: red;" %>
      </div>
    <% end %>
  </div>
<% end %>
